.filterTitle {
  color: #757575;
  margin-right: 30px;
}

.filterMovies {
  padding: 20px 0px 20px;
}

.searchButton {
  width: 120px;
  height: 38px;
  color: white;
  padding: 10px 0px;
  box-sizing: border-box;
  border-radius: 2px;
  background-color: #8A49EC;
}

.css-10nd86i {
  width: 150px;
  display: inline-block;
}

.filterTitle {
  display: inline-block;
  margin-top: 5px;
  margin-right: 30px;
}

.genre, .rating, .orderBy, .searchButton {
  display: inline-block;
  margin-left: 10px;
}

.genre, .rating, .orderBy {
  margin-top: 20px;
}

.searchButton {
  margin-top: 10px !important;
}

@media only screen and (max-width: 768px) {
  .genre, .rating, .orderBy {
    display: block !important;
  }
  .genre>.filterTitle{
        margin-right: 55px;
  }
  .rating>.filterTitle{
        margin-right: 40px;
  }
}

@media only screen and (max-width: 1024px) {
  .searchButton {
    display: block !important;
    margin: 20px auto 0px !important;
  }
}
