#myCarousel {
  width: 100vw !important;
}

.container {
  padding: 0px !important;
  margin: 0px !important;
}

.carousel-indicators {
  left: 80% !important;
  width: 30% !important;
  margin: 0px !important;
  padding: 0px !important;
}

.headerLeft, .movieListTitle {
  float: left;
}

.movieListTitle {
  color: #757575;
}

.headerLeft, .headerRight nav, .menu {
  margin-top: 5px;
}

.headerRight div, .headerRight nav, .buttons div {
  float: right;
}

.headerRight nav {
  margin-right: 30px;
}

.headerRight nav a{
  list-style-type: none;
  text-decoration: none;
}
.headerRight nav a:hover {
  color:white
}

.header {
  padding: 10px 40px 10px 40px;
  background-color: #8A49EC;
  color: white;
}

nav>a {
  color: white;
}

.header, .movieListHeader {
  overflow: auto;
}

.filter {
  text-align: center;
  background-color: #e0e0e0;
  padding: 20px 40px 20px 40px;
}

.headerRight nav a {
  margin-right: 10px;
}

.filter div {
  display: inline-block;
  margin-top: 5px;
  margin-right: 30px;
}

.movieListImages {
  /* display: flex;
  flex-direction: row; */
  overflow: auto;
  white-space: nowrap;
}

.movieList {
  background-color: #eeeeee;
  padding: 20px 40px 20px 40px;
}

.movieImages {
  display: inline-block;
  text-align: center;
  position: relative;
  text-decoration: none;
  width: 200px;
  margin-right: 50px;
  height: 300px;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}


.slider {
  width: 100% !important;
  height: 100% !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}

.slider1, .slider4 {
  background-position: top !important;
}

.carousel-inner {
  height: 50vh;
}

.carousel-inner>.item {
  height: 100% !important;
}

.arrow {
  margin-left: 10px;
  cursor: pointer;
  font-size: 20px;
  color: #9e9e9e;
}

.filterTitle {
  margin-top: 10px;
  color: #757575;
  margin-right: 30px;
}

.select2 {
  width: 120px !important;
}

.searchButton {
  width: 120px;
  height: 27px;
  color: white;
  padding: 3px 0px;
  border-radius: 2px;
  background-color: #8A49EC;
}

.searchBox {
  float: right;
  width: 200px;
  height: 30px;
  padding: 5px 0px;
  margin-right: 30px;
  border-radius: 2px;
  color: white;
  background-color: #984AEB;
  border: 1px solid #984AEB;
  font-family: Arial, FontAwesome;
  padding-right: 30px;
}

.searchBox::placeholder {
  color: white;
}

#search :: before {
  font-family: 'FontAwesome';
  color: red;
  position: relative;
  left: -5px;
  content: "\F002";
}

.searchIcon {
  position: absolute;
  right: 40px;
  top: 5px;
}

.searchText {
  margin-left: 10px;
}

.movieDetails {
  position: absolute;
  top: 40px;
  right: 40px;
  color: white;
}

body::-webkit-scrollbar, .movieListImages::-webkit-scrollbar {
  display: none;
}

body {
  margin: 0px;
  overflow-x: hidden;
  padding: 0;
}

.imdb {
  border-radius: 2px;
  text-align: center;
  width: 80px;
  padding: 5px 10px;
  margin-top: 10px;
  background-color: #8A49EC;
}

.select2-selection__rendered {
  color: #8A49EC !important;
}

.carousel-indicators .active {
  background-color: #8A49EC !important;
}

.carousel-indicators li {
  background-color: lightgrey !important;
  border: 0px !important;
}

.rate {
  position: absolute;
  width: 45px;
  height: 25px;
  background-color: #8A49EC !important;
  bottom: 0;
  right: 0;
  color: white;
}

.dropbtn {
  font-size: 20px;
  margin-top: 2px;
  margin-right: 30px;
}

.dropdownHead {
  display: none;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  display: block;
}

.searchItems {
  position: relative;
}

@media only screen and (max-width: 768px) {
  .header nav {
    display: none;
  }

  .dropdownHead {
    display: block;
  }

  .carousel-indicators {
    left: 75% !important;
  }

  .filter>div {
    display: block;
  }

  .genre>.select2 {
    margin-left: 23px;
  }

  .rating>.select2 {
    margin-left: 12px;
  }
}

@media only screen and (max-width: 1024px) {
  .searchButton {
    display: block !important;
    margin: 20px auto 0px !important;
  }
}
