.buttons div {
    float: right;
  }
.movieListTitle {
  float: left;
}

.movieListTitle {
  color: #757575;
}

.movieListImages {
  overflow: auto;
  white-space: nowrap;
}

.movieList {
  background-color: #eeeeee;
  padding: 20px 40px 20px 40px;
}

.movieImages {
  display: inline-block;
  text-align: center;
  position: relative;
  text-decoration: none;
  width: 200px;
  margin-right: 50px;
  height: 300px;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

.arrow {
  margin-left: 10px;
  cursor: pointer;
  font-size: 20px;
  color: #9e9e9e;
}

.rate {
  position: absolute;
  width: 45px;
  height: 25px;
  background-color: #8A49EC !important;
  bottom: 0;
  right: 0;
  color: white;
}
